html{
	font-size:20px;
	font-family: San Fracisco, Ubuntu,Arial,sans-serif;
	line-height:1.6rem;
}
body{
	margin:0;
    background-image: url("img/background.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img img{
	opacity: 0;
	filter: alpha(opacity=0);
	width:100%;
	height:100%;
}
nav{
	margin-top:0;
	width:100%;
	background-color:black;
	height:2rem;
	opacity:0.9;
	position:fixed;
	z-index:100;
	line-height:1;
}
article{
	width:100%;
	min-height:100vh;
}
#now{
	width:100%;
	min-height:100vh;
	background-color:white;
	opacity:0.9;
}
#about{
	width:100%;
	min-height:100vh;
	display:flex;
}
#portfolio{
	width:100%;
	min-height:100vh;
	display:flex;
}
#contact{
	width:100%;
	min-height:100vh;
	display:flex;
}
.main-nav{
	margin:0 auto;
	width:90%;
	padding:0;
	list-style:none;
	display:flex;
}
.main-nav a{
	color:white;
	text-decoration:none;
	opacity:1;
}
.main-nav li{
	font-size:0.6rem;
	padding-top:0.7rem;
	margin-left:2.5rem;
	transition: transform 0.3s ease-in-out;
}
.main-nav li:hover{
	-webkit-transform: scale(1.7);
	-ms-transform: scale(1.7);
	transform: scale(1.7);
}
.main-nav li:first-child{
	padding-top:0;
	font-size:2rem;
	margin-left:0;
	margin-right:auto;
}
.main-nav li:first-child:hover{
	transform: none !important;
}
.panel{
	min-height:80vh;
	width:80%;
	margin:auto;
	display:flex;
}
.contact-form{
	min-height:100%;
	width:90%;
	margin-left:0;
	display:flex;
}
.social-media{
	min-height:100%;
	width:10%;
	margin-left:0;
	display:flex;
	flex-direction:column;
}
form{
	margin:auto;
	display:flex;
	flex-direction:column;
	width:100%;
}
.inputs{
	display:flex;
	flex-direction:row;
	width:100%;
}
input{
	background-color:white;
	opacity:0.9;
	border:none;
	width:40%;
	height:2rem;
	font-size:1rem;
	font-weight:400;
	padding-left:0.5rem;
	padding-right:0.5rem;
}
.inputs input:first-child{
	margin-right:10%;
}
.inputs input:last-child{
	margin-left:0;
}
textarea{
	margin-top:2rem;
	width:90%;
	padding:1rem;
	height:20rem;
	background-color:white;
	opacity:0.9;
	font-weight:400;
	border:none;
	resize:none;
}
footer{
	width:100%;
	background-color:black;
	min-height:2rem;
	font-size:1rem;
	color:#111;
	padding-top:0.5rem;
	margin:auto;
	text-align:center;
}
.circle{
	width:4.5rem;
	min-height:4rem;
	background-color:blue;
	border-radius:4.5rem;
	opacity:0.8;
	color:white;
	font-size:3rem;
	padding-top:0.5rem;
	cursor:pointer;
	text-align:center;
}
.circle:hover{
	opacity:1;
}
#send{
	margin-top:auto;
	background-color:#595959;
}
#messenger{
	background-color:#0084ff;
}
#linkedin{
	background-color:#0077B5;
}
#twitter{
	background-color:#55acee;
}
.panel-column{
	flex-direction:column;
	min-height:80vh;
	width:80%;
	margin:auto;
	display:flex;
}
.img{
	background-image:url("img/profile.jpg");
	min-height:9rem;
	max height:9rem;
	width:9rem;
	border-radius:9rem;
	margin-left:auto;
	margin-right:auto;
    background-size: cover;
}
.name{
	margin-top:1rem;
	margin-bottom:1rem;
	margin-left:auto;
	margin-right:auto;
	font-size:2.3rem;
}
.description{
	margin-left:auto;
	margin-right:auto;
	font-size:1rem;
	width:80%;
	background-color:white;
	opacity:0.9;
	margin-top:auto;
	margin-bottom:auto;
	padding:1rem;
}
#list-portfolio>li:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
#content-portfolio{
	min-height:85vh;
	max-height:85vh;
	width:100%;
	margin-top:10vh;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	padding:0;
}
#list-portfolio{
	min-height:85vh;
	width:100%;
	display:flex;
	margin-left:0;
	margin-bottom:auto;
	margin-top:auto;
	list-style:none;
	overflow-x:auto;
	overflow-y:hidden;
	-webkit-overflow-scrolling:touch;
}
#list-portfolio::-webkit-scrollbar {
	width:0.1em;
}
#list-portfolio::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
}

#list-portfolio > li{
	min-height:22rem;
	background-color:white;
	opacity:0.9;
	margin-left:0.5rem;
	margin-right:3rem;
	transition:all 0.3s ease-in-out;
	min-width:15rem;
	max-width:15rem;
	display:inline-block;
	margin-top:auto;
	margin-bottom:auto;
	box-shadow:1px 1px 1px 1px gray;
}
.social-media a{
	margin-top:1.5rem;
}
.social-media a[title=Send]{
	margin-top:auto;
}
.social-media a:first-child{
	margin-top:0;
}
@media only screen and (max-width: 465px) {
	.name{
		font-size:1.3rem;
	}
	.description{
		font-size:0.8rem;
	}
   .panel-column{
	   width:100%;
   }
   .description{
	   width:100%;
	   padding:0;
	   text-align:center;
   }
}
@media only screen and (max-width: 690px) {
   .void{
	   min-height:90vh;
	   width:100%;
	   left:0;
	   position:fixed;
   }
   nav { 
		bottom:0; 
		display:flex;
   }
	.main-nav{
	margin:auto;
	width:100%;
	padding:0;
	display:inline-flex;
   }
   .main-nav li{
	font-size:0.6rem;
	padding:0;
	margin:auto;
	display:inline;
   }
   .main-nav li[id=li-now]{
	   display:none;
   }
   footer{
	   min-height:3rem;
   }
   .panel{
	   display:block;
	   width:100%;
   }
   .social-media a{
	   margin-top:0;
   }
   .social-media a[title=Twitter]{
	   margin-right:auto;
   }
   .social-media{
	   flex-direction:row;
	   margin-top:1rem;
	   min-height:auto;
	   width:100%;
   }
   .contact-form{
	   width:100%;
   }
   #send{
	   margin-left:auto;
   }
   .circle{
	width:2.5rem;
	min-height:2rem;
	background-color:blue;
	border-radius:2.5rem;
	opacity:0.8;
	color:white;
	font-size:1rem;
	padding-top:0.5rem;
	cursor:pointer;
	text-align:center;
   } 
   .inputs{
	   display:block;
   }
   .inputs input{
	   display:block;
	   width:100%;
	   margin-top:0.5rem;
	   padding:0;
   }
   form{
	   display:block;
   }
   #f-contact{
	   width:100%;
	   padding:0;
   }
}
