
.icon-mail:before { content: '\e800'; } /* '' */
.icon-left-dir:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */